{% extends 'layout.html' %}

{% block title %}
    Post
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-3 col-6">
            {% if post %}
                <h2>Title : {{ post.title }}</h2>
                <p>Description : {{ post.description }}</p>
                <p>Author : {{ post.created_by }}</p>
            {% else %}
                <h1>Post not Found({{ current_time }})</h1>
            {% endif %}
            <a href="/posts/" class="btn btn-secondary">Back</a>
        </div>
    </div>


{% endblock %}